.section {
  min-height: 100vh;
  background-color: #0c1529;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.content {
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
  padding: 100px 0;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  justify-content: center;
}

.section .title {
  color: white;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 0.05em;
  text-align: center;
}

.downloadsCountWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 100px;
}

.downloadsCount {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.downloadsCountNumber {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.downloadsCountDescription {
  font-size: 26px;
  font-weight: 400;
  color: #b0b8c1;
  text-align: center;
}

.chartContainer {
  width: 100%;
  margin-bottom: 4rem;
}

.chartWrapper {
  background: transparent;
  padding: 2rem;
}

.glowingLine {
  filter: drop-shadow(0 0 8px rgba(59, 130, 246, 0.8))
    drop-shadow(0 0 16px rgba(59, 130, 246, 0.5));
}

.chartTitle {
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.125rem;
  color: #94a3b8;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.subText {
  font-size: 26px;
  color: #b0b8c1;
  text-align: center;
}

@media (max-width: 480px) {
  .section .title {
    font-size: 2rem;
  }

  .downloadsCountWrapper {
    margin-top: 30px;
  }

  .downloadsCount {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .downloadsCountNumber {
    font-size: 20px;
  }

  .downloadsCountDescription {
    font-size: 12px;
  }
  .subText {
    font-size: 16px;
  }
}
