.section {
  min-height: 600vh;
  background-color: #14203b;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.sectionContent {
  display: flex;
}

.title {
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 600;
  font-size: 128px;
  letter-spacing: 0.05em;
  text-align: center;
  height: 0;
}

.cardsContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 606px;
  height: 418px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  top: 50vh;
}

.cardTitle {
  font-size: 53px;
  font-weight: 700;
  line-height: 1.1;
}

.cardDescription {
  font-size: 36px;
  font-weight: 420;
  line-height: 1.3;
}

@media (max-width: 768px) {
  .title {
    font-size: 42px;
  }
  .card {
    width: 300px;
    height: 200px;
  }
  .cardTitle {
    font-size: 24px;
  }
  .cardDescription {
    font-size: 16px;
  }
}
