@import url('https://static.toss.im/tps/main.css');
@import url('https://static.toss.im/tps/others.css');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Toss Product Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

body {
  overflow-x: hidden;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
