.section {
  min-height: 200vh;
  background: linear-gradient(to bottom, #14203b, #2f5dc5);
  width: 100vw;
  overflow: hidden;
  z-index: 101;
}

.relative {
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.absolute {
  position: absolute;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(to right, #ffffff, #dde6ff, #a7baf0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 100px;
}

.subtitle {
  width: 100%;
  color: white;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: 0.05em;
  margin-top: 1rem;
  text-align: center;
  margin-bottom: 20px;
}

.cardsContainer {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.card {
  width: 618px;
  height: 217px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}

.card1 {
  transform: rotate(-5deg) translate(-20%, 0);
  background-color: #ffffff;
  color: #000000;
  z-index: 1;
}
.card2 {
  transform: rotate(5deg) translate(40%, -10%);
  background-color: #283a60;
  color: #ffffff;
  z-index: 2;
}
.card3 {
  transform: rotate(3deg) translate(-20%, -20%);
  background-color: #e0ecf8;
  color: #333d4b;
  z-index: 3;
}

.cardTitle {
  font-size: 36px;
  font-weight: 700;
  color: inherit;
}
.cardDescription {
  font-size: 28px;
  font-weight: 400;
  color: inherit;
}

.hiringButton {
  width: 357px;
  height: 105px;
  background-color: #081d4d;
  border-radius: 66px;
  border: none;
  color: white;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  bottom: 50vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hiringButton:hover {
  background-color: #0a2456;
  transform: translateX(-50%) scale(1.05);
}

.copyright {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 26px;
  font-weight: 400;
}

@media (max-width: 780px) {
  .title {
    font-size: 64px;
  }
  .subtitle {
    font-size: 24px;
  }
  .card {
    width: 400px;
    height: 200px;
  }
  .cardTitle {
    font-size: 32px;
  }
  .cardDescription {
    font-size: 24px;
  }

  .card1 {
    transform: rotate(-5deg) translate(0%, 0);
  }
  .card2 {
    transform: rotate(5deg) translate(0%, 0);
  }
  .card3 {
    transform: rotate(-5deg) translate(0%, 0);
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 52px;
  }
  .subtitle {
    font-size: 24px;
  }
  .card {
    width: 300px;
    height: 150px;
  }
  .cardTitle {
    font-size: 24px;
  }

  .cardDescription {
    font-size: 16px;
  }
  .card1 {
    transform: rotate(-5deg) translate(0%, 0);
  }
  .card2 {
    transform: rotate(5deg) translate(0%, -5%);
  }
  .card3 {
    transform: rotate(-5deg) translate(0%, -10%);
  }

  .hiringButton {
    width: 250px;
    height: 75px;
    font-size: 24px;
  }

  .copyright {
    font-size: 14px;
  }
}
